/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile Globale */
body {
  width: 512px;
  margin: 0 auto;
}
/* Stili per Header e Footer */
.sticky {
  position: sticky;
  color: white;
  background-color: #58788a;
  text-align: center;
  padding: 0.5em 0.95em 0.5em 0.5em;
  border: 1px solid black;
  font-size: larger;
}
.sticky-header {
  top: 0;
  
}
.sticky-footer {
  bottom: 0;
}
/* Stili per card container e cards */
.card-container {
  display:grid;
  width: 100%;
  border: 1px solid black;
  background-color: #7092a4;
  padding: 0.5em 2em;
}

.card {
  width: 85%;
  border: 2px solid black;
  margin: 1em auto;
  padding: 1em 2em 2em 2em;
}
.card-title {
  color: white;
  font-size: 1.5em;
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.card-text {
  font-size: 1.2em;
  color: white;
}
